@using _3252019.data
@model List<Person>

<div>
    <a href="/home/addperson" class="btn btn-success">Add People</a>
</div>

<div>
    <table class="table table-bordered">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
        @if (Model != null)
        {
            foreach (Person p in Model)
            {
                <tr>
                    <td>@p.FirstName</td>
                    <td>@p.LastName</td>
                    <td>@p.Age</td>
                </tr>
            }
        }
    </table>
</div>


